.custom-ta {
  min-height: 400px;
  resize: none;
  border: 1px solid #1779ba;
}

textarea:disabled.custom-ta {
  cursor: auto !important;
  background: transparent;
}

#chars {
  margin-top: -1rem;
  color: #aaa;
}

.button {
  margin-bottom: 0;
}

.cancel-btn {
  position: absolute;
  right: 8px;
  transform: translateY(25%);
}
