{% include 'head.html' %}
<body>
  <div class="grid-container">
    {% set word_level_total = namespace() %}
    {% set word_level_total.value = 0 %}

    {% set word_level_fp = namespace() %}
    {% set word_level_tp = namespace() %}
    {% set word_level_tn = namespace() %}
    {% set word_level_tn.value = 0 %}
    {% set word_level_fp.value = 0 %}
    {% set word_level_tp.value = 0 %}
         
    {% set errors = namespace() %}

    {% set sent_level_total = namespace() %}
    {% set sent_level_total.value = 0 %}

    {% set sent_level_fp = namespace() %}
    {% set sent_level_tn = namespace() %}
    {% set sent_level_tp = namespace() %}
    {% set sent_level_fp.value = 0 %}
    {% set sent_level_tn.value = 0 %}
    {% set sent_level_tp.value = 0 %}

    {% set accent_styles_normalized = namespace() %}
    {% set phonetic_styles_normalized = namespace() %}
    {% set contractions_normalized = namespace() %}
    {% set misspellings_normalized = namespace() %}
    {% set repeating_characters_normalized = namespace() %}
    {% set repeating_units_normalized = namespace() %}
    {% set accent_styles_total = namespace() %}
    {% set phonetic_styles_total = namespace() %}
    {% set contractions_total = namespace() %}
    {% set misspellings_total = namespace() %}
    {% set repeating_characters_total = namespace() %}
    {% set repeating_units_total = namespace() %}

    {% set accent_styles_normalized.value = 0 %}
    {% set accent_styles_total.value = 0 %}
    {% set phonetic_styles_total.value = 0 %}
    {% set phonetic_styles_normalized.value = 0 %}
    {% set misspellings_normalized.value = 0 %}
    {% set misspellings_total.value = 0 %}
    {% set contractions_normalized.value = 0 %}
    {% set contractions_total.value = 0 %}
    {% set repeating_characters_normalized.value = 0 %}
    {% set repeating_characters_total.value = 0 %}
    {% set repeating_units_normalized.value = 0 %}
    {% set repeating_units_total.value = 0 %}

    {% set informal_words_total = namespace() %}
    {% set informal_words_normalized = namespace() %}
    {% set informal_words_total.value = 0 %}
    {% set informal_words_normalized.value = 0 %}

    <table id="results-table" class="stack">
      <thead>
        <tr>
          <th>No</th>
          <th>Input</th>
          <th>Expected</th>
          <th>Result</th>
        </tr>
      </thead>
      <tbody>
      {% for e in rows %}
        {% set sent_level_total.value = loop.index %}
        {% set enc_words = e['enc'].split() %}

        {% for word in enc_words %}
          {% set tag = tagged_words.get(word | lower) %}
          {% if tag == 'accent_styles' %}
            {% set accent_styles_total.value = accent_styles_total.value + 1 %}
          {% elif tag == 'phonetic_styles' %}
            {% set phonetic_styles_total.value = phonetic_styles_total.value + 1 %}
          {% elif tag == 'contractions' %}
            {% set contractions_total.value = contractions_total.value + 1 %}
          {% elif tag == 'misspellings' %}
            {% set misspellings_total.value = misspellings_total.value + 1 %}
          {% elif tag == 'repeating_characters' %}
            {% set repeating_characters_total.value = repeating_characters_total.value + 1 %}
          {% elif tag == 'repeating_units' %}
            {% set repeating_units_total.value = repeating_units_total.value + 1 %}
          {% endif %}
        {% endfor %}

        {% set errors.value = highlight_incorrect(e['enc'], e['dec'], e['res'], tagged_words) %}

        {% set accent_styles_normalized.value = accent_styles_normalized.value
                            + errors.value['tags_normalized']['accent_styles'] %}
        {% set phonetic_styles_normalized.value = phonetic_styles_normalized.value
                            + errors.value['tags_normalized']['phonetic_styles'] %}
        {% set contractions_normalized.value = contractions_normalized.value 
                            + errors.value['tags_normalized']['contractions'] %}
        {% set misspellings_normalized.value = misspellings_normalized.value 
                            + errors.value['tags_normalized']['misspellings'] %}
        {% set repeating_characters_normalized.value = repeating_characters_normalized.value 
                            + errors.value['tags_normalized']['repeating_characters'] %}
        {% set repeating_units_normalized.value = repeating_units_normalized.value 
                            + errors.value['tags_normalized']['repeating_units'] %}

        {% set word_level_fp.value = word_level_fp.value + errors.value['test_stats'].fp %}
        {% set word_level_tp.value = word_level_tp.value + errors.value['test_stats'].tp %}
        {% set word_level_tn.value = word_level_tn.value + errors.value['test_stats'].tn %}

        {% set word_level_total.value = word_level_total.value
                                        + errors.value['test_stats'].fp
                                        + errors.value['test_stats'].tp
                                        + errors.value['test_stats'].tn %}

        {% if e['enc'] == e['dec'] != e['res'] %}
          {% set sent_level_fp.value = sent_level_fp.value + 1 %}
        {% elif e['dec'] == e['res'] %}
          {% set sent_level_tp.value = sent_level_tp.value + 1 %}
        {% else %}
          {% set sent_level_tn.value = sent_level_tn.value + 1 %}
        {% endif %}
        
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ errors.value['tagged_enc'] }}</td>
          <td>{{ e['dec'] }}</td>
          <td>{{ errors.value['highlighted'] }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <div id="accuracy">
      {# Informal words count #}
      {% set informal_words_total.value = accent_styles_total.value
                                        + phonetic_styles_total.value
                                        + misspellings_total.value
                                        + repeating_characters_total.value
                                        + repeating_units_total.value
                                        + contractions_total.value %}
      {% set informal_words_normalized.value = accent_styles_normalized.value 
                                        + phonetic_styles_normalized.value 
                                        + misspellings_normalized.value 
                                        + repeating_characters_normalized.value 
                                        + repeating_units_normalized.value 
                                        + contractions_normalized.value %}
      <div class="grid-x align-center">
        <div class="large-6 small-12 cell text-center">
          <p>Total Informal Words</p>
          <div class="stat">{{ informal_words_total.value }}</div>
        </div>
        <div class="large-6 small-12 cell text-center">
          <p>Corrected Informal Words</p>
          <div class="stat">{{ informal_words_normalized.value }}</div>
        </div>
      </div>
      <hr>
      <div class="grid-x align-center">
        <div class="large-2 small-12 cell text-center">
          <p>Accent Style</p>
          <div class="stat">{{ accent_styles_normalized.value }} / {{ accent_styles_total.value }}</div>
        </div>
        <div class="large-2 small-12 cell text-center">
          <p>Phonetic Style</p>
          <div class="stat">{{ phonetic_styles_normalized.value }} / {{ phonetic_styles_total.value }}</div>
        </div>
        <div class="large-2 small-12 cell text-center">
          <p>Contractions</p>
          <div class="stat">{{ contractions_normalized.value }} / {{ contractions_total.value }}</div>
        </div>
        <div class="large-2 small-12 cell text-center">
          <p>Misspellings</p>
          <div class="stat">{{ misspellings_normalized.value }} / {{ misspellings_total.value }}</div>
        </div>
        <div class="large-2 small-12 cell text-center">
          <p>Repeating Characters</p>
          <div class="stat">{{ repeating_characters_normalized.value }} / {{ repeating_characters_total.value }}</div>
        </div>
        <div class="large-2 small-12 cell text-center">
          <p>Repeating Units</p>
          <div class="stat">{{ repeating_units_normalized.value }} / {{ repeating_units_total.value }}</div>
        </div>
      </div>
      <hr>
      {# End #}

      {% macro stats(total, tp, fp, tn) %}
      {# Accuracy #}
      <div class="grid-x align-center">
        {% set accuracy = namespace() %}
        {% set percentage_error = namespace() %}
        {# {% set percentage_error.value = safe_division((total.value-tp.value), total.value) * 100 %} #}
        {% set percentage_error.value = safe_division((informal_words_total.value - informal_words_normalized.value),
                                            informal_words_total.value) * 100 %}
        {% set accuracy.value = 100 - percentage_error.value %}
        <div class="large-3 small-12 cell text-center">
          <p><abbr title="Number of informal words">Total</abbr></p>
          <div class="stat">{{ informal_words_total.value }}</div> 
          {# <div class="stat">{{ total.value }}</div> #}
        </div>
        <div class="large-3 small-12 cell text-center">
          <p><abbr title="Correctly normalized words">Correct</abbr></p>
          <div class="stat">{{ informal_words_normalized.value }}</div>
          {# <div class="stat">{{ tp.value }}</div> #}
        </div>
        <div class="large-3 small-12 cell text-center">
          <p>Accuracy</p>
          <div class="stat">{{ '%.2f' | format(accuracy.value) }}</div>
        </div>
        <div class="large-3 small-12 cell text-center">
          <p>Percentage Error</p>
          <div class="stat">{{ '%.2f' | format(percentage_error.value) }}</div>
        </div>
      </div>
      <hr>
      {# End #}

      {# Test Statistics #}
      <div class="grid-x align-center">
        <div class="large-4 small-12 cell text-center">
          <p><abbr title="Correctly normalized informal words">True Positive</abbr></p>
          <div class="stat">{{ tp.value }}</div>
        </div>
        <div class="large-4 small-12 cell text-center">
          <p><abbr title="Incorrectly normalized formal words">False Positive</abbr></p>
          <div class="stat">{{ fp.value }}</div>
        </div>
        <div class="large-4 small-12 cell text-center">
          <p><abbr title="Incorrectly normalized informal words">True Negative</abbr></p>
          <div class="stat">{{ tn.value }}</div>
        </div>
      </div>
      <hr>
      {# End #}

      {# F-Score #}
      <div class="grid-x align-center">
        {% set precision = namespace() %}
        {% set recall = namespace() %}
        {% set fscore = namespace() %}

        {% set precision.value = safe_division(tp.value, (tp.value+fp.value)) %}
        {% set recall.value = safe_division(tp.value, (tp.value+tn.value)) %}
        {% set fscore.value = safe_division(2*precision.value*recall.value,
                                            (precision.value+recall.value)) %}
        <div class="large-4 small-12 cell text-center">
          <p>Precision</p>
          <div class="stat">{{ '%.2f' | format(precision.value) }}</div>
        </div>
        <div class="large-4 small-12 cell text-center">
          <p>Recall</p>
          <div class="stat">{{ '%.2f' | format(recall.value) }}</div>
        </div>
        <div class="large-4 small-12 cell text-center">
          <p>F-Score</p>
          <div class="stat">{{ '%.2f' | format(fscore.value) }}</div>
        </div>
      </div>
      {% endmacro %}
      {# End #}

      {# Word-level and Sent-level Accuracy #}
      <ul class="tabs" data-tabs id="stat-tabs">
        <li class="tabs-title is-active"><a href="#word-level-stat" aria-selected="true">Word-level Stats</a></li>
        <li class="tabs-title"><a href="#sent-level-stat" aria-selected="true">Sent-level Stats</a></li>
      </ul>
      <div class="tabs-content" data-tabs-content="stat-tabs">
        <div class="tabs-panel is-active" id="word-level-stat">
          {{ stats(word_level_total, word_level_tp, word_level_fp, word_level_tn) }}
        </div>
        <div class="tabs-panel" id="sent-level-stat">
          {{ stats(sent_level_total, sent_level_tp, sent_level_fp, word_level_tn) }}
        </div>
      </div>
      <hr>
      {# End #}
      <button class="button" id="export">Download CSV</button>
    </div>
  </div>
{% include 'footer.html' %}
